<div class="number-header">
  <section class="container first">
    <div>
      <span class="hashtag">#</span>
      <span>عرض الرقم</span>
    </div>
    <div>
      <button class="close" aria-label="close-btn">x</button>
    </div>
  </section>
  <section class="container second">
    <div class="num-div">
      <div>
        <span class="number">{{ headerData.numberDetails.number }}</span>
        <span>{{ headerData.numberDetails.status }}</span>
      </div>
      <div class="dropdown-container">
        <button class="btn" (click)="toggleDropdown($event)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"
            />
          </svg>
        </button>
        <!-- Dropdown Menu -->
        <div *ngIf="isDropdownVisible" class="dropdown-menu">
          <button (click)="selectOption('edit')">
            <img src="assets/pen.png" alt="pen icon" />
            <span>تعديل الرقم</span>
          </button>
          <button (click)="selectOption('cancel')">
            <img src="assets/cancel.png" alt="cancel icon" />
            <span> إلغاء التعيين </span>
          </button>
        </div>
      </div>
    </div>

    <div class="num-info">
      <div class="row">
        <div>
          <span>اسم البروتوكول</span><span>{{ headerData.protocol }}</span>
        </div>
        <span class="line"></span>
        <div>
          <span>الدولة</span>
          <div class="country-container">
            <img [src]="headerData.country.flag" alt="country flag" />
            <span>{{ headerData.country.name }}</span>
          </div>
        </div>
        <span class="line"></span>
        <div class="tooltip-container">
          <span>العميل الحالي</span
          ><span class="truncate">{{ headerData.currentClient }}</span>
          <span class="tooltip-text">{{ headerData.currentClient }}</span>
        </div>
        <span class="line"></span>
        <div>
          <span>عدد الامدادات</span><span>{{ headerData.supplies }}</span>
        </div>
      </div>
      <div class="row">
        <div>
          <span>تاريخ اخر شحنة</span
          ><span>{{ headerData.lastShipmentDate }}</span>
        </div>
        <span class="line"></span>
        <div>
          <span>الرصيد الحالي</span
          ><span> {{ headerData.currentBalance }}</span>
        </div>
        <span class="line"></span>
        <div>
          <span>الرصيد المستخدم للعميل الحالي</span
          ><span>{{ headerData.currentClientBalance }}</span>
        </div>
        <span class="line"></span>
        <div>
          <span>الرصيد المستخدم للرقم ككل</span
          ><span>{{ headerData.totalUsedBalance }}</span>
        </div>
      </div>
    </div>
  </section>
</div>
