<div class="number-header">
  <div class="container first">
    <div>
      <span class="hashtag">#</span>
      <span>عرض الرقم</span>
    </div>
    <div>
      <button class="close" aria-label="close-btn">x</button>
    </div>
  </div>
  <div class="container second">
    <div class="num-div">
      <div>
        <span class="number">012345678910</span>
        <span>قيد الاستخدام</span>
      </div>
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"
          />
        </svg>
      </button>
    </div>
    <div class="num-info">
      <div class="row">
        <div><span>اسم البروتوكول</span><span>فودافون مصر</span></div>
        <span class="line"></span>
        <div>
          <span>الدولة</span>
          <div class="country-container">
            <img src="/assets/country.png" alt="country flag" />
            <span>المملكة الأردنية الهاشمية</span>
          </div>
        </div>
        <span class="line"></span>
        <div>
          <span>العميل الحالي</span><span>الشركة الالمانية لابادة الحشرات</span>
        </div>
        <span class="line"></span>
        <div><span>عدد الامدادات</span><span>09</span></div>
      </div>
      <div class="row">
        <div><span>تاريخ اخر شحنة</span><span>2024/12/29</span></div>
        <span class="line"></span>
        <div><span>الرصيد الحالي</span><span> 5000 ج.م</span></div>
        <span class="line"></span>
        <div>
          <span>الرصيد المستخدم للعميل الحالي</span><span>5000 ج.م</span>
        </div>
        <span class="line"></span>
        <div><span>الرصيد المستخدم للرقم ككل</span><span>5000 ج.م</span></div>
      </div>
    </div>
  </div>
</div>
