@use "../../styles/variables.scss" as *;

.first {
  height: 2.625rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: solid 1px $border-color;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $div-background;
  align-items: center;
  padding: {
    top: 0.563rem;
    bottom: 0.563rem;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
  }

  .hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $hashtag-size;
    height: $hashtag-size;
    padding: 0.313rem;
    color: #3e97ff;
    background-color: #3e97ff1a;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    font-style: italic;
    font-weight: 500;
  }

  .hashtag + span {
    font-weight: 500;
  }

  .close {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    width: $close-btn-size;
    height: $close-btn-size;
    color: #1c1c28;
    background-color: #f4f4f4;
    font-weight: 500;
    padding: 0.412rem;
    border-radius: 0.342rem;
    transition: all 0.3s ease;

    &:hover {
      color: #ff4b55;
      cursor: pointer;
    }
  }
}

.second {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $div-background;

  .num-div {
    display: flex;
    justify-content: space-between;

    & > div:first-child {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    span.number {
      font-weight: 600;
      font-size: 1.25rem;
      color: $nums-color;
    }

    span.number + span {
      padding: 7px 16px;
      color: #ffffff;
      background-color: #48b29a;
      border-radius: 0.25rem;
      font-weight: 500;
    }

    button {
      border: none;
      background-color: transparent;
      width: 2.125rem;
      height: 2rem;
      cursor: pointer;
      border-radius: 0.25rem;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        fill: $text-color;
        transition: all 0.3s ease;
      }

      &:hover svg {
        fill: #3e97ff;
      }
    }
  }

  .num-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    & > div.row {
      display: flex;
      justify-content: space-between;

      & > div {
        display: flex;
        flex-direction: column;
        width: 10.75rem;
        gap: 8px;
        text-align: center;
        font-size: 14px;
        position: relative;

        & > span:first-child {
          color: $text-color;
        }
      }
    }
  }
}

.country-container {
  display: flex;
  gap: 0.375rem;
  align-items: center;

  img {
    width: 1.313rem;
    height: 1.343rem;
    border-radius: 5.966rem;
  }
}

span.line {
  display: inline-block;
  height: $line-height;
  border: solid 1px $border-color;
  margin: auto;

  @media (max-width: 759px) {
    display: none;
  }
}
